:root{
    --faint-coral : rgb(224, 129, 86);
}
/* First Viewport Start*/
.nav > img{
    margin-left: -19px;
}
.first-container{
    background: var(--faint-coral);
    position: relative;
    height: 100vh;
}
.end-div{
    position: absolute;
    bottom: 10px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    transform: translateX(-8%);
}
.light-txt{
    opacity: 0.7;
}
a:hover{
    text-decoration: none!important;
}

/* Second Viewport Start */

#video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32vw;
    height: 80vh;
    z-index: 2;
}


.videoNew{
    opacity: 1;
}

@media (max-width : 990px){
    #video{
        width: 260px;
    }
}
@media (max-width : 900px){
    #video{
        width: 255px;
    }
}
@media (max-width : 770px){
    #video{
        width: 240px;
    }
}
@media (max-width : 574px){
    #video{
        width: 52vw;
    }
}
